{% extends 'base.html' %}
{% load static %}


{% block title %}
    {{title}}
{% endblock title %}


{% block stylesheet %}

{% endblock stylesheet %}


{% block content %}
<!-- Main Slider Section -->
<section class="main-slider">
    <div class="main-slider-carousel owl-carousel owl-theme">
        
        <div class="slide slide1">
            <div class="auto-container">
                <div class="row clearfix">
                    <!-- Content Column -->
                    <div class="content-column col-lg-7 cl-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="title">General Contracting</div>
                            <h1>JerryFlex <br>Is All You Need</h1>
                            <div class="text">Build a Better Way Delivering Projects in Ways <br> that Can't be Duplicated</div>
                            <div class="clearfix">
                                <div class="btns-box">
                                    <a class="btn-style-three theme-btn" href=""><span class="txt">Read More</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Image Column -->
                    <div class="image-column col-lg-5 cl-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="image">
                                <img src="{% static 'images/main-slider/content-image-1.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="slide slide2">
            <div class="auto-container">
                <div class="row clearfix">
                    <!-- Content Column -->
                    <div class="content-column col-lg-7 cl-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="title">General Contracting</div>
                            <h1>JerryFlex <br>Is All You Need</h1>
                            <div class="text">Build a Better Way Delivering Projects in Ways <br> that Can't be Duplicated</div>
                            <div class="clearfix">
                                <div class="btns-box">
                                    <a class="btn-style-three theme-btn" href=""><span class="txt">Read More</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Image Column -->
                    <div class="image-column col-lg-5 cl-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="image">
                                <img src="{% static 'images/main-slider/content-image-1.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- End Main Slider Section -->

<!-- About Section -->
<section class="about-section">
    <div class="auto-container">
        <div class="inner-container about-section-inner-container">
            <div class="row clearfix">
                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <!-- Sec Title -->
                        <div class="sec-title">
                            <div class="title"><span class="separator"></span>About Us</div>
                            <h2>A modern construction <br> & industrial agency</h2>
                        </div>
                        <div class="text">
                            <p>Manufactoriuring industry became a key sector of production and labour and North American countries during the Industrial Revolution, upsetting industry sector ecoan to me.</p>
                            <p>mercantile and feudal ecoan countries during the Industrial Revolution, mercantile and feudal economies.</p>
                        </div>
                        <div class="clearfix">
                            <div class="pull-left">
                                <a class="btn-style-four theme-btn" href=""><span class="txt">Read More</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="image">
                            <img src="{% static 'images/resource/about.jpg' %}" alt="" />
                            <!-- Experiance Box -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->

<!-- Services Section -->
<section class="services-section">
    <div class="side-image">
        <img src="{% static 'images/resource/service-image.png' %}" alt="" />
    </div>
    <div class="auto-container">
        <div class="sec-title">
            <div class="clearfix">
                <div class="pull-left">
                    <div class="title"><span class="separator"></span>Our Services</div>
                    <h2>Construction solutions <br> for residentials & industries!</h2>
                </div>
                <div class="pull-right">
                    <div class="text">Construction is a general term meaning the art and science <br> to form objects systems organizations.</div>
                </div>
            </div>
        </div>
        <div class="services-carousel owl-carousel owl-theme">
            
            <!-- Service Block -->
            <div class="service-block">
                <div class="inner-box">
                    <div class="pattern-layer pattern-layer2"></div>
                    <div class="content">
                        <div class="icon-box">
                            <span class="icon flaticon-excavator"></span>
                        </div>
                        <h4><a href="">Expert <br> Mechanical</a></h4>
                        <div class="text">We will work with you to make small or large changes so you get the house of your dreams</div>
                    </div>
                    <a class="read-more" href="">Read More</a>
                </div>
            </div>
            
            <!-- Service Block -->
            <div class="service-block">
                <div class="inner-box">
                    <div class="pattern-layer service-block-bg"></div>
                    <div class="content">
                        <div class="icon-box">
                            <span class="icon flaticon-building"></span>
                        </div>
                        <h4><a href="">Apartment <br> Design</a></h4>
                        <div class="text">We will work with you to make small or large changes so you get the house of your dreams</div>
                    </div>
                    <a class="read-more" href="">Read More</a>
                </div>
            </div>
            
            <!-- Service Block -->
            <div class="service-block">
                <div class="inner-box">
                    <div class="pattern-layer service-block-bg"></div>
                    <div class="content">
                        <div class="icon-box">
                            <span class="icon flaticon-welding"></span>
                        </div>
                        <h4><a href="">Repair <br> Welding</a></h4>
                        <div class="text">We will work with you to make small or large changes so you get the house of your dreams</div>
                    </div>
                    <a class="read-more" href="">Read More</a>
                </div>
            </div>
            
            <!-- Service Block -->
            <div class="service-block">
                <div class="inner-box">
                    <div class="pattern-layer service-block-bg"></div>
                    <div class="content">
                        <div class="icon-box">
                            <span class="icon flaticon-excavator"></span>
                        </div>
                        <h4><a href="">Expert <br> Mechanical</a></h4>
                        <div class="text">We will work with you to make small or large changes so you get the house of your dreams</div>
                    </div>
                    <a class="read-more" href="">Read More</a>
                </div>
            </div>
            
            <!-- Service Block -->
            <div class="service-block">
                <div class="inner-box">
                    <div class="pattern-layer service-block-bg"></div>
                    <div class="content">
                        <div class="icon-box">
                            <span class="icon flaticon-building"></span>
                        </div>
                        <h4><a href="">Apartment <br> Design</a></h4>
                        <div class="text">We will work with you to make small or large changes so you get the house of your dreams</div>
                    </div>
                    <a class="read-more" href="">Read More</a>
                </div>
            </div>
            
            <!-- Service Block -->
            <div class="service-block">
                <div class="inner-box">
                    <div class="pattern-layer service-block-bg"></div>
                    <div class="content">
                        <div class="icon-box">
                            <span class="icon flaticon-welding"></span>
                        </div>
                        <h4><a href="">Repair <br> Welding</a></h4>
                        <div class="text">We will work with you to make small or large changes so you get the house of your dreams</div>
                    </div>
                    <a class="read-more" href="">Read More</a>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- End Services Section -->

<!-- CTA Section -->
<section class="cta-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="title-box">
            <h2>We Provide High Perfomance Innovate <br> Machines Profitable Solutions</h2>
        </div>
        <ul class="cta-list">
            <li>Technologies</li>
            <li>Industries</li>
            <li>Factory</li>
        </ul>
        <div class="btn-box text-center">
            <a class="btn-style-five theme-btn" href=""><span class="txt">Read More</span></a>
            <a class="btn-style-six theme-btn" href=""><span class="txt">Contact Now</span></a>
        </div>
    </div>
</section>
<!-- End CTA Section -->


<!-- Team Section -->
<section class="team-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <div class="title"><span class="separator"></span>Our Expert<span class="separator-two"></span></div>
            <h2>Working with excellent <br> our great team</h2>
        </div>
        <div class="row clearfix">
        
            <!-- Team Block -->
            <div class="team-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="pattern-layer"></div>
                    <div class="image">
                        <a href=""><img src="{% static 'images/resource/team.jpg' %}" /></a>
                        <!-- Social Box -->
                        <ul class="social-box">
                            <li><a href="https://www.facebook.com/" class="fa fa-facebook-f"></a></li>
                            <li><a href="https://www.twitter.com/" class="fa fa-twitter"></a></li>
                            <li><a href="https://www.instagram.com/" class="fa fa-instagram"></a></li>        
                        </ul>
                    </div>
                    <div class="lower-content">
                        <h4><a href="">Member Name</a></h4>
                        <div class="designation">Member Job Title</div>
                    </div>
                </div>
            </div>
            
            <!-- Team Block -->
            <div class="team-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="pattern-layer"></div>
                    <div class="image">
                        <a href="team-detail.html"><img src="{% static 'images/resource/team.jpg' %}" /></a>
                        <!-- Social Box -->
                        <ul class="social-box">
                            <li><a href="https://www.facebook.com/" class="fa fa-facebook-f"></a></li>
                            <li><a href="https://www.twitter.com/" class="fa fa-twitter"></a></li>
                            <li><a href="https://www.instagram.com/" class="fa fa-instagram"></a></li>   
                        </ul>
                    </div>
                    <div class="lower-content">
                        <h4><a href="">Member Name</a></h4>
                        <div class="designation">Member Job Title</div>
                    </div>
                </div>
            </div>
            
            <!-- Team Block -->
            <div class="team-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="pattern-layer"></div>
                    <div class="image">
                        <a href="team-detail.html"><img src="{% static 'images/resource/team.jpg' %}" /></a>
                        <!-- Social Box -->
                        <ul class="social-box">
                            <li><a href="https://www.facebook.com/" class="fa fa-facebook-f"></a></li>
                            <li><a href="https://www.twitter.com/" class="fa fa-twitter"></a></li>
                            <li><a href="https://www.instagram.com/" class="fa fa-instagram"></a></li>   
                        </ul>
                    </div>
                    <div class="lower-content">
                        <h4><a href="">Member Name</a></h4>
                        <div class="designation">Member Job Title</div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- End Team Section -->
{% endblock content %}


{% block javascript %}
{% endblock javascript %}
    
    